@using PlayerRatings.Localization
@model Match

@{
    ViewData["Title"] = LocString[nameof(LocalizationKey.Delete)];
}

<h2>@ViewData["Title"]</h2>

<h3>@LocString[nameof(LocalizationKey.AreYouSureDelete)]?</h3>
<div>
    <h4>@LocString[nameof(LocalizationKey.Match)]</h4>

    <table class="table">
        <tr>
            <td>@Model.Date</td>
            <td>
                @Model.GetDescription()
            </td>
            <td>
                @Model.GetScore()
            </td>
        </tr>
    </table>

    <form asp-action="Delete" asp-route-id="@Model.Id">
        <div class="form-actions no-color">
            <input type="submit" value="@LocString[nameof(LocalizationKey.Delete)]" class="btn btn-default" /> |
            <a asp-action="Index">@LocString[nameof(LocalizationKey.BackToList)]</a>
        </div>
    </form>
</div>